html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    font-family: Helvetica, Arial, sans-serif;
    align-self: center;
    text-align: center;
    color: black;
}

h1{
    font: 2em Helvetica, Arial, sans-serif;
    font-weight: bold;    
}

h2{
    font: 1.5em Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin: 0px 20px;
    width: 800px;
}

h3{
    font: 22px Helvetica, Arial, sans-serif;
    color: black;
    font-weight: bold;
}

p{
    font: 20px Helvetica, Arial, sans-serif;
    color: black;
    font-weight: bold;

}
span{
    color: black;
}
/*Número no canto superior esquerdo*/
.numEtapa{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    color: black;
    background-color: #e7a61a;
    text-align: center;
    font: 20px Helvetica, Arial, sans-serif;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

label, input{
    font: 20px Helvetica, Arial, sans-serif;

}

a{
    text-decoration: none;
    display: flex;
    align-self: center;
}

button{
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    background: none;
    padding: 10px 20px;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
    align-self: center;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    background-color: #ecf0f1;
}

button:hover{
    transition: 0.3s;
    color: #ecf0f1;
    background-color: #63a4ff;
    cursor: pointer;
    box-shadow: 0px 3px none;
}

#mainbtns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/*!!EDITAR O CLIQUE DO BOTÃO*/
label{
    color: black;
    font-weight: bold;
    margin: 20px;
    margin-right: 0px;
}

input{
    border-color: black;
    border-radius: 10px;
    background-color: #ecf0f1;
    color: black;
    font-weight: bold;
    width: 40px;
    text-align: center;
}

/*retirar as setinhas do input type="number"*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Início estilização tabela de resultados*/
table{
    width: 100%;
    border-collapse: separate;
    border: 3px solid black;
    border-radius: 20px;
}

table td,th{        
    padding: 0.5rem;
    font: 20px Helvetica, Arial, sans-serif;
    color: black;
    font-weight: bold;
    text-align: center;
}

table span{
    left: -9999px;
    position: absolute;
    visibility: hidden;
}

/*Tabela responsiva:*/
@media(max-width:500px){

    table thead{
        left: -9999px;
        position: absolute;
        visibility: hidden;
    }

    table tr{
        display: flex;
        flex-direction:column;
        margin-bottom: 40px;
        align-items: stretch;

    }

    table td{
        border-bottom: 2px solid black;
        padding-top: 35px;
        margin: 0 -1px -1px 0;
        position: relative;
        text-overflow: ellipsis;
    }

    table span{
        left: +9999px;
        position: static;
        visibility: visible;
    }
}
/*Fim estilização tabela de resultados*/

/*Estilização inserção manual de dados*/
#containerInputManual{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
}
.inputManual{
    margin: 10px;
}
@media(max-width:350px){
    .inputManual{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*Estilização dos cards*/
#escolhaMetodo, #escolhaSemestre, #escolhaMaterias, #displayNotas, #fluxoManual, #displayNotasManual{
    flex-direction: column;
    border: 3px solid black;
    background-color:#e7a61a;
    border-radius: 20px;
    margin: 10px 30px;
    padding: 10px;
    box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.75);
}

#displayNotas{
    margin-bottom: 100px;
}

/*Diminuir o tamanho dos cards para telas maiores do que 900px:*/
@media only screen and (min-width:900px){
    #escolhaMetodo, #escolhaSemestre, #escolhaMaterias, #displayNotas, #fluxoManual, #displayNotasManual{
        width: 800px;
    }
    
}
/*fixar o tamanho dos cards para telas menores do que 900px:*/
@media only screen and (max-width:900px){
    #escolhaMetodo, #escolhaSemestre, #escolhaMaterias, #displayNotas, #fluxoManual, #displayNotasManual{
        width: 80%;
    }
    h2{
        width: auto;
    }
}

/*Estilização do checkbox*/
#materias2semestre{
    box-sizing: border-box;
}

.materiaContainer{
    display: flex;
    align-items: center;
}

.materiaContainer label{
    cursor: pointer;
    display: flex;
    font: bold 20px Helvetica, Arial, sans-serif;
    color: black;
}

.materiaContainer input[type='checkbox']{
    cursor: pointer;
    opacity: 0;
    position: absolute;

}

.materiaContainer label::before{
    content: '';
    width: 1em;
    height: 1em;
    border: 0.1em solid black;
    border-radius: 0.3em;
    margin-right: 0.5em;
    flex-shrink: 0;
    background-color: #ecf0f1;
}

.materiaContainer label:hover::before,
.materiaContainer input[type='checkbox']:hover + label::before {
     background-color: #63a4ff;
}

.materiaContainer input[type='checkbox']:focus + label::before {
    box-shadow: 0 0 5px black;
}

 .materiaContainer input[type='checkbox']:checked +label::before{
    content: '\002714'; 
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.materiaContainer input[type='checkbox']:checked:hover +label::before{
    content: '\002714'; 
    background-color: #63a4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ecf0f1;;
}
/*Fim da estilização do checkbox*/

/*Adaptando detalhes como padding e margin para telas menore do que 220px*/
@media (max-width:220px){
    .materiaContainer label{
        margin-right: 0;
        margin-left: 0;
    }
    #escolhaMetodo, #escolhaSemestre, #escolhaMaterias, #displayNotas, #fluxoManual, #displayNotasManual{
        padding-right: 0;
        padding-left:0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    #displayNotas{
        padding-left:0;
    }
     h3{
        padding-left:10px;
    }
    table{
        border: none;
    }
    button{
        margin-left:0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    #mainbtns{
        justify-content: stretch;
    }
    td{
        padding-right: 0;
    }
}


